In [14]:
import pandas as pd
import numpy as np
import os, time,json
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'Data',
 'titleR.csv.gz']

In [15]:
def write_json(new_data, filename):
    """Appends a list of records (new_data) to a json file(filename),
    Adapted from://www.geeksforgeeks.org/append-to-json-file-using-python/"""
    with open(filename,'r+') as file:
        #first we load existing file into a dict
        file_data = json.load(file)
        ##choose extend or append
        if (type(new_data) == list & type(file_data) == list):
            file_data.extend(new_data)
        else:
            file_data.append(new_data)
        # sets files current position at offset.
        file.seek(0)
        #convert back to json
        json.dump(file_data, file)

In [19]:
basics= pd.read_csv('Data/title_basics.csv.gz')

In [20]:
YEARS_TO_GET = [2010,2011,2012]

In [21]:
errors = [ ]

In [22]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
# Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
# If it does not exist: create it
    if file_exists == False:
# save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
#Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
# saving movie ids to list
    movie_ids = df['tconst'].copy()
# Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
# filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])
            
    final_year_df= pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz",
                            compression="gzip", index=False)

YEARS:   0%|          | 0/3 [00:00<?, ?it/s]

Movies from 2010:   0%|          | 0/3848 [00:00<?, ?it/s]

Movies from 2011:   0%|          | 0/4224 [00:00<?, ?it/s]

Movies from 2012:   0%|          | 0/4510 [00:00<?, ?it/s]

In [27]:
df.head(2010)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1606,tt0249516,movie,Foodfight!,Foodfight!,0,2012.0,NaN,91,"Action,Adventure,Animation"
2794,tt0285252,movie,Bachelor Trip,Life's a Beach,0,2012.0,NaN,100,Comedy
3090,tt0293069,movie,Dark Blood,Dark Blood,0,2012.0,NaN,86,Thriller
4539,tt0337692,movie,On the Road,On the Road,0,2012.0,NaN,124,"Adventure,Drama,Romance"
6238,tt0383010,movie,The Three Stooges,The Three Stooges,0,2012.0,NaN,92,"Comedy,Family"
...,...,...,...,...,...,...,...,...,...
42164,tt2155369,movie,The Last Message,Rinj√¥,0,2012.0,NaN,129,Drama
42170,tt2156108,movie,Wishing Stone,Wishing Stone,0,2012.0,NaN,46,Drama
42171,tt2156284,movie,Phoenix,Phoenix,0,2012.0,NaN,86,Drama
42172,tt2156588,movie,Room 13 Part 2,Room 13 Part 2,0,2012.0,NaN,55,"Comedy,Horror"
42174,tt2156661,movie,Bad Guy,Bad Guy,0,2012.0,NaN,67,"Action,Thriller"