In [3]:
import pandas as pd
import numpy as np
import os, time,json
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'titleR.csv.gz']

In [4]:
basics_url='https://datasets.imdbws.com/title.basics.tsv.gz'
title_url='https://datasets.imdbws.com/title.akas.tsv.gz'
title_ratings='https://datasets.imdbws.com/title.ratings.tsv.gz'

In [5]:
basics= pd.read_csv(basics_url, sep='\t', low_memory=False)

In [6]:
titlesakas= pd.read_csv(title_url, sep='\t', low_memory=False)

In [7]:
titleR= pd.read_csv(title_ratings, sep='\t', low_memory=False)

In [8]:
basics.replace({'\\N':np.nan},inplace=True)
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1298636
endYear           9513553
runtimeMinutes    6805263
genres             434609
dtype: int64

In [9]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [10]:
basics= basics.dropna(subset=['runtimeMinutes','startYear', 'genres'])

In [11]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [12]:
basics.startYear= basics.startYear.astype(float)

In [13]:
basics = basics.loc[ basics['titleType']=='movie']

In [14]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894.0,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897.0,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906.0,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907.0,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908.0,NaN,120,"Adventure,Fantasy"

In [15]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370812 entries, 8 to 9616115
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          370812 non-null  object
 1   titleType       370812 non-null  object
 2   primaryTitle    370812 non-null  object
 3   originalTitle   370812 non-null  object
 4   isAdult         370812 non-null  object
 5   startYear       370812 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  370812 non-null  object
 8   genres          370812 non-null  object
dtypes: float64(1), object(8)
memory usage: 28.3+ MB

In [16]:
basics = basics[(basics['startYear']>=2000)&(basics['startYear']<2022)]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,133,Documentary
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
77964,tt0079644,movie,November 1828,November 1828,0,2001.0,NaN,140,"Drama,War"
...,...,...,...,...,...,...,...,...,...
9615931,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"
9616015,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama
9616056,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015.0,NaN,57,Documentary
9616083,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007.0,NaN,100,Documentary
9616115,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013.0,NaN,49,Documentary

In [17]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

## cleaning for akas

In [18]:
titlesakas.replace({'\\N':np.nan},inplace=True)
titlesakas.isna().sum()

titleId                   0
ordering                  0
title                     5
region              1880597
language            6503335
types              29456808
attributes         34673498
isOriginalTitle        2109
dtype: int64

In [19]:
titlesakas=titlesakas[titlesakas.region=="US"]

In [20]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(titlesakas['titleId'])
keepers

34803       True
61116       True
67669       True
77964      False
86801       True
           ...
9615838     True
9615847     True
9615886    False
9615931     True
9616015    False
Name: tconst, Length: 137833, dtype: bool

In [21]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93938,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
9615302,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
9615698,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
9615838,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
9615847,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
9615931,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [22]:
titleR.replace({'\\N':np.nan},inplace=True)
titleR.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [23]:
keepers = titleR['tconst'].isin(titlesakas['titleId'])
ratings = titleR[keepers]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1951
1        tt0000002            5.8       264
4        tt0000005            6.2      2584
5        tt0000006            5.1       177
6        tt0000007            5.4       811
...            ...            ...       ...
1279261  tt9916200            8.2       220
1279262  tt9916204            8.2       251
1279269  tt9916348            8.5        17
1279270  tt9916362            6.4      5180
1279274  tt9916428            3.8        14

[488929 rows x 3 columns]

In [24]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

['tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'titleR.csv.gz']

In [25]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [26]:
## Save current dataframe to file.
titlesakas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [27]:
## Save current dataframe to file.
ratings.to_csv("Data/titleR.csv.gz",compression='gzip',index=False)

In [28]:
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (2.9.1)
Requirement already satisfied: requests in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (1.26.13)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (2.0.4)

In [29]:
with open('/Users/alisonwilliams/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
login.keys()

dict_keys(['api-key'])

In [30]:
tmdb.API_KEY =  login['api-key']

In [31]:
movie = tmdb.Movies()

In [32]:
info = movie.info

In [33]:
YEARS_TO_GET = [2000,2001]

In [34]:
def get_movie_with_rating(movie_id):
    """Adapted from source = https://github.com/celiao/tmdbsimple"""
    #Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    
    #save the info releases dictionaries
    info = movie.info()
    releases = movie.releases()
    
    #Loop through countries in releases
    for c in releases ['countries']:
        #if the country abbreviation==Us
        if c['iso_3166_1'] =='US':
##save a "certification" key in info with the certification
            info ['certification'] = c['certification']
    return info

In [35]:
errors = [ ]

In [36]:
def write_json(new_data, filename):
    """Appends a list of records (new_data) to a json file(filename),
    Adapted from://www.geeksforgeeks.org/append-to-json-file-using-python/"""
    with open(filename,'r+') as file:
        #first we load existing file into a dict
        file_data = json.load(file)
        ##choose extend or append
        if (type(new_data) == list & type(file_data) == list):
            file_data.extend(new_data)
        else:
            file_data.append(new_data)
        # sets files current position at offset.
        file.seek(0)
        #convert back to json
        json.dump(file_data, file)

In [37]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
# Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
# If it does not exist: create it
    if file_exists == False:
# save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
#Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
# saving movie ids to list
    movie_ids = df['tconst'].copy()
# Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
# filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])
        final_year_df= pd.read_json(JSON_FILE)
        final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz",
                            compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2000:   0%|          | 0/214 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/251 [00:00<?, ?it/s]

In [38]:
get_movie_with_rating('tt0848228')

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 111.1,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.7,
 'vote_count': 28180,
 'certification': 'PG-13'}

In [39]:
get_movie_with_rating('tt0332280')

{'adult': False,
 'backdrop_path': '/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg',
 'belongs_to_collection': None,
 'budget': 29000000,
 'genres': [{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}],
 'homepage': 'http://www.newline.com/properties/notebookthe.html',
 'id': 11036,
 'imdb_id': 'tt0332280',
 'original_language': 'en',
 'original_title': 'The Notebook',
 'overview': "An epic love story centered around an older man who reads aloud to a woman with Alzheimer's. From a faded notebook, the old man's words bring to life the story about a couple who is separated by World War II, and is then passionately reunited, seven years later, after they have taken different paths.",
 'popularity': 67.804,
 'poster_path': '/rNzQyW4f8B8cQeg7Dgj3n6eT5k9.jpg',
 'production_companies': [{'id': 12,
   'logo_path': '/iaYpEp3LQmb8AfAtmTvpqd4149c.png',
   'name': 'New Line Cinema',
   'origin_country': 'US'},
  {'id': 1565, 'logo_path': None, 'name': 'Avery Pix', 'origin_country': 'US'},
  {'id': 2605,
   'logo_path': None,
   'name': 'Gran Via Productions',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2004-06-25',
 'revenue': 115603229,
 'runtime': 123,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Behind every great love is a great story.',
 'title': 'The Notebook',
 'video': False,
 'vote_average': 7.878,
 'vote_count': 10140,
 'certification': 'PG-13'}

In [69]:
## create a col with a list of genres
df['genres_split'] = df['genres'].str.split(',')
df

,tconst,titleType,primaryTitle,startYear,runtimeMinutes,genres,genre_id,genres_split
34803,tt0035423,movie,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]","[Comedy, Fantasy, Romance]"
111852,tt0114447,movie,The Silent Force,2001.0,90,Action,[Action],[Action]
115829,tt0118589,movie,Glitter,2001.0,104,"Drama,Music,Romance","[Drama, Music, Romance]","[Drama, Music, Romance]"
115889,tt0118652,movie,The Attic Expeditions,2001.0,100,"Comedy,Horror,Mystery","[Comedy, Horror, Mystery]","[Comedy, Horror, Mystery]"
116228,tt0119004,movie,Don's Plum,2001.0,89,"Comedy,Drama","[Comedy, Drama]","[Comedy, Drama]"
...,...,...,...,...,...,...,...,...
9223443,tt9071078,movie,Dragon Hero,2001.0,100,"Action,Drama,Thriller","[Action, Drama, Thriller]","[Action, Drama, Thriller]"
9289091,tt9212730,movie,Yakuza Zombie,2001.0,87,"Horror,Thriller","[Horror, Thriller]","[Horror, Thriller]"
9296376,tt9228234,movie,The Narc Enigma,2001.0,93,Action,[Action],[Action]
9448280,tt9555974,movie,Haunted School,2001.0,85,Horror,[Horror],[Horror]
9458338,tt9578462,movie,Crying Sky,2001.0,85,Drama,[Drama],[Drama]

In [70]:
exploded_genres = df.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,startYear,runtimeMinutes,genres,genre_id,genres_split
34803,tt0035423,movie,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]",Comedy
34803,tt0035423,movie,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]",Fantasy
34803,tt0035423,movie,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]",Romance
111852,tt0114447,movie,The Silent Force,2001.0,90,Action,[Action],Action
115829,tt0118589,movie,Glitter,2001.0,104,"Drama,Music,Romance","[Drama, Music, Romance]",Drama
...,...,...,...,...,...,...,...,...
9289091,tt9212730,movie,Yakuza Zombie,2001.0,87,"Horror,Thriller","[Horror, Thriller]",Horror
9289091,tt9212730,movie,Yakuza Zombie,2001.0,87,"Horror,Thriller","[Horror, Thriller]",Thriller
9296376,tt9228234,movie,The Narc Enigma,2001.0,93,Action,[Action],Action
9448280,tt9555974,movie,Haunted School,2001.0,85,Horror,[Horror],Horror
9458338,tt9578462,movie,Crying Sky,2001.0,85,Drama,[Drama],Drama

In [71]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [72]:
## save the tconst and genres_split as new df
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

           tconst genres_split
34803   tt0035423       Comedy
34803   tt0035423      Fantasy
34803   tt0035423      Romance
111852  tt0114447       Action
115829  tt0118589        Drama

In [73]:
## making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'History': 10,
 'Horror': 11,
 'Music': 12,
 'Musical': 13,
 'Mystery': 14,
 'Reality-TV': 15,
 'Romance': 16,
 'Sci-Fi': 17,
 'Short': 18,
 'Sport': 19,
 'Thriller': 20,
 'War': 21,
 'Western': 22}

In [74]:
## make new integer genre_id and drop string genres
df['genre_id'] = df['genres_split'].replace(genre_map)
df = df.drop(columns='genres_split')

In [78]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'History': 10,
 'Horror': 11,
 'Music': 12,
 'Musical': 13,
 'Mystery': 14,
 'Reality-TV': 15,
 'Romance': 16,
 'Sci-Fi': 17,
 'Short': 18,
 'Sport': 19,
 'Thriller': 20,
 'War': 21,
 'Western': 22}

In [80]:
## Manaully make dataframe with named cols from the keyd and values
genre_lookup = pd.DataFrame ({ 'Genre_Name': genre_map.keys( ),
                            'genre_id': genre_map.values ( )} )
genre_lookup.head()

  Genre_Name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [115]:
(df.dtypes)

tconst             object
titleType          object
primaryTitle       object
startYear         float64
runtimeMinutes     object
genres             object
genre_id           object
dtype: object

In [118]:
## Set the dataframe index and use index=True 
df.set_index('int_index').to_sql('table_name',engine,index=True)

KeyError: "None of ['int_index'] are in the columns"

In [126]:
## get max string length
max_str_len = df['tconst'].fillna('').map(len).max()
max_str_len

10

In [160]:
from sqlalchemy.engine import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
username = "root"
password = quote_plus("myd0gJak3*") # Using the quote function to make the password compatible
db_name = "project_3"

In [161]:
connection = f'mysql+pymysql://{username}:{password}@localhost/{db_name}'
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/project_3)

In [163]:
if database_exists(connection) == False: create_database(connection)
else: print('The database already exists.')

In [164]:
## Example
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(key_len+1),
    'startYear':Float(),
    'runtimeMinutes':Text(key_len+1),
    'genres': Text(key_len+1),
    'genre_id':Text(key_len+1)}

In [165]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics', engine ,dtype=df_schema,if_exists='replace',index=False)

80896

In [166]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')