In [1]:
import pandas as pd
import numpy as np
import os, time,json
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'titleR.csv.gz']

In [2]:
df_basics = pd.read_csv('Data/title_basics.csv.gz')

In [3]:
## create a col with a list of genres
df_basics['genres_split'] = df_basics['genres'].str.split(',')
df_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
80917,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
80918,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
80919,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
80920,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
80921,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [4]:
exploded_genres = df_basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
80920,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
80920,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
80920,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
80921,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
80921,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [5]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [6]:
## save the tconst and genres_split as new df
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [7]:
## making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [8]:
## Manaully make dataframe with named cols from the keyd and values
genre_lookup = pd.DataFrame ({ 'Genre_Name': genre_map.keys( ),
                            'genre_id': genre_map.values ( )} )
genre_lookup.head()

  Genre_Name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [9]:
(df_basics.dtypes)

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear         float64
endYear           float64
runtimeMinutes      int64
genres             object
genres_split       object
dtype: object

In [10]:
df_basics = df_basics.drop(columns=['titleType', 'originalTitle', 'isAdult', 'genres','genres_split'])

In [11]:
(df_basics.dtypes)

tconst             object
primaryTitle       object
startYear         float64
endYear           float64
runtimeMinutes      int64
dtype: object

In [13]:
## get max string length
max_str_len = df_basics['tconst'].fillna('').map(len).max()
max_str_len

10

In [14]:
from sqlalchemy.engine import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
username = "root"
password = quote_plus("myd0gJak3*") # Using the quote function to make the password compatible
db_name = "project_3"

In [15]:
connection = f'mysql+pymysql://{username}:{password}@localhost/{db_name}'
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/project_3)

In [16]:
if database_exists(connection) == False: create_database(connection)
else: print('The database already exists.')

The database already exists.

In [17]:
## Example
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = df_basics['tconst'].fillna('').map(len).max()
title_len = df_basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(key_len+1),
    'startYear':Float(),
    'runtimeMinutes':Text(key_len+1),
    'endYear':Float}

In [18]:
# Save to sql with dtype and index=False
df_basics.to_sql('title_basics', engine ,dtype=df_schema,if_exists='replace',index=False)

80922

In [19]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [21]:
title_genres.to_sql('title_genres',engine, if_exists='replace', index=False)

151576

In [22]:
df_final_tmdb= pd.read_csv('Data/final_tmdb_data_2001.csv.gz')

In [23]:
df_final_tmdb.to_sql('df_final_tmdb', engine, if_exists='replace',index=False)

1297

In [24]:
title_ratings= pd.read_csv('Data/titleR.csv.gz')

In [25]:
title_ratings.to_sql('title_ratings',engine,if_exists='replace',index=False)

489081